/* line 2, ../scss/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/main.scss */
html {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 13, ../scss/main.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 18, ../scss/main.scss */
h1 {
  width: 100%;
}

/* line 22, ../scss/main.scss */
.header {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
}
/* line 28, ../scss/main.scss */
.header > div {
  position: absolute;
  width: 50%;
  top: 36vh;
  right: 0;
}
/* line 35, ../scss/main.scss */
.header h1,
.header h2 {
  text-transform: uppercase;
  text-align: left;
  color: #FFF;
}
/* line 42, ../scss/main.scss */
.header img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: auto;
}

/* line 51, ../scss/main.scss */
.container--start {
  position: relative;
  width: 100%;
  top: 90vh;
  padding: 60px;
  background-color: white;
}
/* line 58, ../scss/main.scss */
.container--start > img {
  display: inline-flex;
  max-width: 25%;
}
