@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* line 3, ../scss/typography.scss */
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}

/* line 9, ../scss/typography.scss */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  text-align: center;
}
/* line 15, ../scss/typography.scss */
h1:after {
  content: "";
  display: block;
  width: 10%;
  border: 1px solid #8BB632;
  margin: 20px auto;
}

/* line 24, ../scss/typography.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
}
