$font-size-h1: 3em;
$font-size-mobile-h1: 2em;
$font-size-h2: 2.3em;
$font-size-mobile-h2: 1.7em;
$font-size-quote: 2em;
$font-size-mobile-quote: 1.5em;
$font-size-desktop: 18px;
$font-size-mobile: 20px;

$small-gutter: 2em;

$grid-max: 1000px;
$grid-columns: 12;
$grid-gutter: 12px;
$grid-break: 650px;
$grid-desktop: 800px;
$grid-small-max: $grid-break - 1;

$green: rgba(#EEFF4E, 0.7);
$container-background-color: #FFFFFF;

$text-color: #2F312E;
$h1-color: #000000;
$h2-color: #000000;
$brand-color: #8BB632;


