

$font-size-h1: 3em;
$font-size-h2: 2.3em;
$font-size-quote: 2em;
$font-size-p: 1.3em;

$small-gutter: 2em;

$grid-max: 1000px;
$grid-columns: 12;
$grid-gutter: 12px;
$grid-break: 650px;
$grid-desktop: 800px;
$grid-small-max: $grid-break - 1;

$green: rgba(#EEFF4E, 0.7);
$container-background-color: #FFFFFF;


