@import "compass";


.description--row {
	display: block;
	width: 100%;
	padding: 40px 0;
	text-align: center;

	h1 {
		display: block;
		position: relative;
	}

	img {
		width: 100%;
		height: auto;
		margin: 20px auto;
	}
}

.column-1-of-6,
.column-2-of-6,
.column-3-of-6,
.column-4-of-6,
.column-5-of-6,
.column-6-of-6 {
	@include inline-block();
	margin: 30px inherit;

}

.column-1-of-6 {
	width: 100%;

	@include grid-break($grid-desktop) {
		width: 16.667%;
	}
}

.column-2-of-6 {
	@include grid-break($grid-desktop) {
		width: 33.333%;
	}
}

.column-3-of-6 {
	@include grid-break($grid-desktop) {
		width: 50%;
	}
}

.column-4-of-6 {
	@include grid-break($grid-desktop) {
		width: 66.6667%;
	}
}

.column-5-of-6 {
	@include grid-break($grid-desktop) {
		width: 83.3333%;
	}
}

.column-6-of-6 {
	@include grid-break($grid-desktop) {
		width: 100%;
	}
}

.grid-padding-top-bottom {
	margin: 1.5em 0;
}


