
* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
}


ul {
	@include grid(12);
	position: relative;
}

li {
	padding: 1.5em;
	text-decoration: none;
}

img {
	width: 100%;
	display: block;
}

.header {
	position: fixed;
	display: block;
	width: 100%;
	height: 100vh;

	> div {
		position: relative;
		bottom: 20%;
		left: 50%;
	}

	h1,
	h2 {
		text-transform: uppercase;
		text-align: left;
		color: #FFF;

		&:after {
			display: none;
		}
	}

	img {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 100vw;
		height: auto;
	}
}

.main-container {
	@include grid(12);
	position: relative;
	top: 90vh;
}

.container {
	@include grid(12);
	padding: 40px;
	background-color: $container-background-color;
	text-align: center;
}

.container--following {
	@include transition(all, 0.7s);
	padding: 60px;
	background-color: $container-background-color;

	.hej-no-touching,
	.hej-touching {
		@include transition(all, 2s);
		margin: 0 auto;
  		text-align: center;
		
		> div {
			margin: 0;
		}
		
		p {
			text-align: left;
			padding-left: 20px;
		}

		.column-2-of-6 {
			display: inline-block;
		}
	}
}

.hej-no-touching,
.hej-touching {
	@include inline-block();
	padding: 40px 0;
	
	&.animate--left {
		@include transition(all, 2s);
		text-align: left;
	}

	&.hide {
		display: none;
	}
}

.hej-sneak-preview {
	margin-top: 1em;
	
	> ul {
		text-align: center;
	}
}

.quote {
	@include grid(12);
	position: relative;
	display: table;
	float: none;
	height: 180px;
	
	h2 {
		display: table-cell;
		font-size: $font-size-quote;
		margin: 0 auto;
		max-width: 50%;
		text-align: center;
		vertical-align: middle;
	}
}

.take-care-of-each-other {

	p {
		@include grid(6);
		@include inline-block;
		margin: 0 auto;
		padding: $small-gutter 0;
		float: inherit;
	}
}
