
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Lora);

/** FLIESSTEXT **/
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


/********** NICE ***************/
@import url(http://fonts.googleapis.com/css?family=Fauna+One); // only nice in Chrome
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url("//hello.myfonts.net/count/2eaf0f");

@font-face {
	font-family: 'MuseoSlab-500';
	src: url('webfonts/2EAF0F_0_0.eot');
	src: url('webfonts/2EAF0F_0_0.eot?#iefix') format('embedded-opentype'),
		url('webfonts/2EAF0F_0_0.woff2') format('woff2'),
		url('webfonts/2EAF0F_0_0.woff') format('woff'),
		url('webfonts/2EAF0F_0_0.ttf') format('truetype');
	}

p {
	font-family: 'Monserrat', sans-serif;
	font-weight: 300;
	font-size: $font-size-p;
	text-align: left;
	margin: auto $small-gutter;
	line-height: 1.3;
}

h1 {
	font-family: MuseoSlab-500, sans-serif;
	font-weight: 700;
	font-size: $font-size-h1;
	text-align: center;

	&:after {
		content: "";
		display: block;
		width: 10%;
		border: 1px solid #8BB632;
		margin: 20px auto;
	}
}

h2 {
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Vollkorn', serif;
	font-weight: 400;
	font-size: $font-size-h2;
}

.description {
	margin: 0 1.5em;
}

.centered--text {
	text-align: center;
}