.description--row {
	display: block;
	width: 100%;
	padding: 2em 0;
	text-align: center;

	h1 {
		display: block;
		position: relative;
	}

	img {
		width: 100%;
		height: auto;
		margin: 1.2em auto;
	}
}

.container--half {
	width: 100%;
	margin: 0 auto;
	text-align: center;

	@include grid-break($grid-max) {
		width: 50%;
	}
}

.column-1-of-6,
.column-2-of-6,
.column-3-of-6,
.column-4-of-6,
.column-5-of-6,
.column-6-of-6 {
	display: inline-block;
	position: relative;
	width: 100%;
}

.column-1-of-6 {
	@include grid-break($grid-desktop) {
		position: relative;
		margin: 0 auto;
		display: block;
		width: 16.667%;
	}
}

.column-2-of-6 {
	@include grid-break($grid-desktop) {
		width: 33.333%;
	}
}

.column-3-of-6 {
	@include grid-break($grid-desktop) {
		width: 50%;
	}
}

.column-4-of-6 {
	@include grid-break($grid-desktop) {
		width: 66.6667%;
	}
}

.column-5-of-6 {
	@include grid-break($grid-desktop) {
		width: 83.3333%;
	}
}

.column-6-of-6 {
	@include grid-break($grid-desktop) {
		width: 100%;
	}
}

.grid-padding-top-bottom {
	margin: 1.5em 0;
}

.grid-gutter {
	padding: 1.5em;
}

.grid-gutter-s {
	padding: 1em 0;

	@include grid-break($grid-desktop) {
		padding: 1em;
	}
}

.image-gallery {
	width: 80%;

	@include grid-break($grid-max) {
		width: 49%;
	}
}
